<div class="container-fluid" id="mainContainer">
			<div class="row">
				<div class="col">
					<div class="title">
						<h1 id="first">Calisthenics</h1>
						<h1 id="second">Courses</h1>
					</div>
				</div>
			</div>
				<div class="container" id="textCont">
					<p class="text-md-left">
						<h1>Welcome to the home of Calisthenics</h1>
					</p>
					<p>
						<h3>Subscribe to get access in all of our content!</h3>
					</p>
					<p>
						<table class="table table-bordered">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Type</th>
									<th scope="col">Cost</th>
									
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Guest-Athlete</td>
									<td> 0$-monthly</td>
								</tr>
								<tr>
									<td>Super-Athlete</td>
									<td> 25$-monthly</td>
								</tr>
								<tr>
									<td>Intermidiate-Athlete</td>
									<td> 15$-monthly</td>
								</tr>
								<tr>
									<td>Begginer-Athlete</td>
									<td> 5$-monthly</td>
								</tr>
								
							</tbody>
						</table>
					</p>
				</div>

				<main>
					<div class="container" id="cardCont">
						<div class="card-group">
							<div class="card">
							  <img src="css/fundamentals/image1.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
								
							  </div>
							</div>
							<div class="card">
							  <img src="css/fundamentals/image 2.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
								
							  </div>
							</div>
							<div class="card">
							  <img src="css/fundamentals/image 3.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
								<h5 class="card-title">Card title</h5>
								<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
								
							  </div>
							</div>
						  </div>
					</div>
					  
				</main>
			
		</div>